@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #1c1c1c;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #1C1C1C;
}

.container-fluid-mod {
    padding: 0;
}

.ContenedorManoniMotoRep:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.LogoManoniMotoRep {
    width: 200px;
    height: 60px;
    align-items: center;
    transition: all 0.5s;
}

header nav div ul li {
    display: inline-block;
    padding: 0 0.5rem;
}

.NavA {
    color: black;
}

.CarritoDeCompras {
    width: 40px;
    height: 25px;
}

.Hero {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 20%;
    background-image: url(../images/imagen_background_hero.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

.HeroTexto {
    width: 30rem;
    color: white;
    font-size: large;
    padding: 2rem;
}

.HeroTexto h1 {
    font-size: xx-large;
}

.HeroBoton {
    padding: 7px 7px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.HeroImagen {
    width: 25rem;
    object-fit: contain;
    padding: 2rem;
}

.ProductosDestacadosTexto {
    text-align: center;
    width: 100%;
    margin: 5rem 0 2rem 0;
    background-color: white;
}

.MainContenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.ProductoContenedor {
    width: 300px;
    height: 250px;
    margin: 2rem 1rem;
}

.ProductoImagen {
    width: 100%;
    height: 100%;
}

.InfoProducto {
    color: black;
    background-color: white;
}

.TodosLosProductosBoton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0 5rem 0;
}

.TodosLosProductosTexto {
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 5px;

}

.DataIndex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
    background-color: white;
    padding: 5px;
}

.FormIndex {
    background-color: white;
    margin: 2rem 0;
    padding: 1rem;
}

footer {
    background-color: white;
    padding: 2rem 2rem;
    font-size: large;
    gap: 3rem;
}

.NavFooterA {
    color: black;
}

.LogoFacebook {
    width: 45px;
    height: 45px;
}

.LogoInstagram {
    width: 45px;
    height: 45px;
}

.LogoWhatsapp {
    position: fixed;
    width: 85px;
    height: 75px;
    bottom: 0;
    right: 0;
}

.LlevameHaciaArribaContenedor {
    width: 45px;
    height: 45px; 
    position: fixed;
    bottom: 80px;
    right: 30px;
}

.LlevameHaciaArribaLogo {
    width: 45px;
    height: 45px;
}

 /*Paginas*/ 

.h1Paginas {
    text-align: center;
    color: white;
    margin: 1rem 0;
}

/*Productos*/

.ContenedorPagProducto {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em 2rem;
}


.ParrafosProductos {
    text-align: center;

}

.PProducto {
    color: white;
}

.ProductoContenedorProducto {
    width: 15rem;
    height: 13rem;
}

.InfoProductoProductos {
    background-color: white;
    color: black;
}

.MostrarMasBoton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 0;
}

.MostrarMasTexto {
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

.ColorBlanco {
    color: white;
}

.QuienesSomosTexto {
    width: 90%;
    display: flex;
    justify-content: center;
}

/*Contacto*/

.ContenedorPagContacto {
    margin: 2rem 10%;
}

.ContenedorPagContacto1 {
    color: white;
    grid-column: 1;
    justify-content: center;
    margin: 0 auto;
}

.ContenedorPagContacto2 {
    color: white;
    grid-column: 2;
    margin: 0 auto;
}

/*Quiénes Somos*/

.ContenedorPagQuienesSomos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 2rem 2rem 2rem;
}

.ContenedorPagQuienesSomosImagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 2rem 4rem 2rem;
}

/*media queries*/

